/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-pan-x: initial;
      --tw-pan-y: initial;
      --tw-pinch-zoom: initial;
      --tw-border-style: solid;
      --tw-gradient-position: initial;
      --tw-gradient-from: #0000;
      --tw-gradient-via: #0000;
      --tw-gradient-to: #0000;
      --tw-gradient-stops: initial;
      --tw-gradient-via-stops: initial;
      --tw-gradient-from-position: 0%;
      --tw-gradient-via-position: 50%;
      --tw-gradient-to-position: 100%;
      --tw-leading: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-backdrop-blur: initial;
      --tw-backdrop-brightness: initial;
      --tw-backdrop-contrast: initial;
      --tw-backdrop-grayscale: initial;
      --tw-backdrop-hue-rotate: initial;
      --tw-backdrop-invert: initial;
      --tw-backdrop-opacity: initial;
      --tw-backdrop-saturate: initial;
      --tw-backdrop-sepia: initial;
      --tw-duration: initial;
      --tw-ease: initial;
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

.top-1\/2 {
  top: 50%;
}

.top-1\/4 {
  top: 25%;
}

.top-\[-6rem\] {
  top: -6rem;
}

.top-\[-80px\] {
  top: -80px;
}

.top-\[-260px\] {
  top: -260px;
}

.top-\[60vh\] {
  top: 60vh;
}

.right-1\/4 {
  right: 25%;
}

.right-\[-6rem\] {
  right: -6rem;
}

.right-\[-8rem\] {
  right: -8rem;
}

.right-\[-60px\] {
  right: -60px;
}

.bottom-1\/4 {
  bottom: 25%;
}

.bottom-\[-8rem\] {
  bottom: -8rem;
}

.bottom-\[-10rem\] {
  bottom: -10rem;
}

.bottom-\[-60px\] {
  bottom: -60px;
}

.left-1\/2 {
  left: 50%;
}

.left-1\/4 {
  left: 25%;
}

.left-\[-6rem\] {
  left: -6rem;
}

.left-\[-10vw\] {
  left: -10vw;
}

.left-\[-80px\] {
  left: -80px;
}

.-z-10 {
  z-index: calc(10 * -1);
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-full {
  grid-column: 1 / -1;
}

.container {
  width: 100%;
}

.mx-auto {
  margin-inline: auto;
}

.mt-\[0\.3rem\] {
  margin-top: .3rem;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.block {
  display: block;
}

.contents {
  display: contents;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.aspect-\[16\/9\] {
  aspect-ratio: 16 / 9;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[10px\] {
  height: 10px;
}

.h-\[10rem\] {
  height: 10rem;
}

.h-\[26rem\] {
  height: 26rem;
}

.h-\[28rem\] {
  height: 28rem;
}

.h-\[32rem\] {
  height: 32rem;
}

.h-\[34rem\] {
  height: 34rem;
}

.h-\[52px\] {
  height: 52px;
}

.h-\[220px\] {
  height: 220px;
}

.h-\[380px\] {
  height: 380px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.max-h-\[64vh\] {
  max-height: 64vh;
}

.max-h-\[420px\] {
  max-height: 420px;
}

.max-h-\[480px\] {
  max-height: 480px;
}

.min-h-\[2\.5rem\] {
  min-height: 2.5rem;
}

.min-h-\[70vh\] {
  min-height: 70vh;
}

.min-h-\[80px\] {
  min-height: 80px;
}

.min-h-\[150px\] {
  min-height: 150px;
}

.min-h-\[220px\] {
  min-height: 220px;
}

.min-h-\[480px\] {
  min-height: 480px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/4 {
  width: 25%;
}

.w-3\/4 {
  width: 75%;
}

.w-5\/6 {
  width: 83.3333%;
}

.w-\[26\%\] {
  width: 26%;
}

.w-\[26rem\] {
  width: 26rem;
}

.w-\[28rem\] {
  width: 28rem;
}

.w-\[30rem\] {
  width: 30rem;
}

.w-\[32rem\] {
  width: 32rem;
}

.w-\[34rem\] {
  width: 34rem;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[72\%\] {
  width: 72%;
}

.w-\[76\%\] {
  width: 76%;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[360px\] {
  width: 360px;
}

.w-\[380px\] {
  width: 380px;
}

.w-\[520px\] {
  width: 520px;
}

.w-\[560px\] {
  width: 560px;
}

.w-full {
  width: 100%;
}

.max-w-\[50vw\] {
  max-width: 50vw;
}

.max-w-\[80\%\] {
  max-width: 80%;
}

.max-w-\[80vw\] {
  max-width: 80vw;
}

.max-w-\[90vw\] {
  max-width: 90vw;
}

.max-w-full {
  max-width: 100%;
}

.max-w-none {
  max-width: none;
}

.min-w-\[12rem\] {
  min-width: 12rem;
}

.min-w-\[110px\] {
  min-width: 110px;
}

.min-w-\[200px\] {
  min-width: 200px;
}

.min-w-\[260px\] {
  min-width: 260px;
}

.min-w-full {
  min-width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0;
}

.flex-grow, .grow {
  flex-grow: 1;
}

.border-separate {
  border-collapse: separate;
}

.-translate-x-1\/2 {
  --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.-translate-y-1\/2 {
  --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.translate-y-\[1px\] {
  --tw-translate-y: 1px;
  translate: var(--tw-translate-x) var(--tw-translate-y);
}

.scale-95 {
  --tw-scale-x: 95%;
  --tw-scale-y: 95%;
  --tw-scale-z: 95%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
}

.scale-100 {
  --tw-scale-x: 100%;
  --tw-scale-y: 100%;
  --tw-scale-z: 100%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
}

.transform {
  transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.touch-pan-y {
  --tw-pan-y: pan-y;
  touch-action: var(--tw-pan-x, ) var(--tw-pan-y, ) var(--tw-pinch-zoom, );
}

.resize {
  resize: both;
}

.resize-none {
  resize: none;
}

.list-inside {
  list-style-position: inside;
}

.list-decimal {
  list-style-type: decimal;
}

.list-disc {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-\[1\.4fr_2fr_1\.6fr_1\.2fr_1\.2fr\] {
  grid-template-columns: 1.4fr 2fr 1.6fr 1.2fr 1.2fr;
}

.grid-cols-\[auto_1fr_auto\] {
  grid-template-columns: auto 1fr auto;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.border {
  border-style: var(--tw-border-style);
  border-width: 1px;
}

.border-2 {
  border-style: var(--tw-border-style);
  border-width: 2px;
}

.border-4 {
  border-style: var(--tw-border-style);
  border-width: 4px;
}

.border-x {
  border-inline-style: var(--tw-border-style);
  border-inline-width: 1px;
}

.border-t {
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
}

.border-t-4 {
  border-top-style: var(--tw-border-style);
  border-top-width: 4px;
}

.border-r {
  border-right-style: var(--tw-border-style);
  border-right-width: 1px;
}

.border-b {
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
}

.border-l-8 {
  border-left-style: var(--tw-border-style);
  border-left-width: 8px;
}

.border-dashed {
  --tw-border-style: dashed;
  border-style: dashed;
}

.border-none {
  --tw-border-style: none;
  border-style: none;
}

.border-solid {
  --tw-border-style: solid;
  border-style: solid;
}

.border-\[\#0A66C2\]\/40 {
  border-color: #0a66c266;
  border-color: lab(42.5561% 3.77452 -55.9166 / .4);
}

.border-\[\#0F1A35\] {
  border-color: #0f1a35;
}

.border-\[\#1DA1F2\]\/40 {
  border-color: #1da1f266;
  border-color: lab(62.681% -12.1707 -50.8237 / .4);
}

.border-\[\#1e293b\] {
  border-color: #1e293b;
}

.border-\[\#1e293b\]\/80 {
  border-color: #1e293bcc;
  border-color: lab(16.2235% -.475004 -13.2263 / .8);
}

.border-\[\#1f2a3b\] {
  border-color: #1f2a3b;
}

.border-\[\#1f293d\] {
  border-color: #1f293d;
}

.border-\[\#3B82F6\] {
  border-color: #3b82f6;
}

.border-\[\#3B82F6\]\/30 {
  border-color: #3b82f64d;
  border-color: lab(54.6189% 8.76278 -65.7907 / .3);
}

.border-\[\#3B82F6\]\/50 {
  border-color: #3b82f680;
  border-color: lab(54.6189% 8.76278 -65.7907 / .5);
}

.border-\[\#35BFFF\] {
  border-color: #35bfff;
}

.border-\[\#35BFFF\]\/30 {
  border-color: #35bfff4d;
  border-color: lab(72.3644% -21.0997 -42.6832 / .3);
}

.border-\[\#35BFFF\]\/35 {
  border-color: #35bfff59;
  border-color: lab(72.3644% -21.0998 -42.6832 / .35);
}

.border-\[\#35BFFF\]\/40 {
  border-color: #35bfff66;
  border-color: lab(72.3644% -21.0997 -42.6832 / .4);
}

.border-\[\#35BFFF\]\/60 {
  border-color: #35bfff99;
  border-color: lab(72.3644% -21.0997 -42.6832 / .6);
}

.border-\[\#1778F2\]\/40 {
  border-color: #1778f266;
  border-color: lab(50.7314% 9.8618 -69.8879 / .4);
}

.border-\[\#123055\] {
  border-color: #123055;
}

.border-\[\#334155\] {
  border-color: #334155;
}

.border-\[rgba\(53\,191\,255\,0\.03\)\] {
  border-color: #35bfff08;
}

.border-\[rgba\(53\,191\,255\,0\.04\)\] {
  border-color: #35bfff0a;
}

.border-\[rgba\(53\,191\,255\,0\.06\)\] {
  border-color: #35bfff0f;
}

.border-\[rgba\(53\,191\,255\,0\.08\)\] {
  border-color: #35bfff14;
}

.border-\[rgba\(53\,191\,255\,0\.12\)\] {
  border-color: #35bfff1f;
}

.border-\[rgba\(53\,191\,255\,0\.18\)\] {
  border-color: #35bfff2e;
}

.border-\[rgba\(53\,191\,255\,0\.28\)\] {
  border-color: #35bfff47;
}

.border-\[rgba\(53\,191\,255\,0\.35\)\] {
  border-color: #35bfff59;
}

.border-t-transparent {
  border-top-color: #0000;
}

.bg-\[\#0A0F1F\] {
  background-color: #0a0f1f;
}

.bg-\[\#0A66C2\]\/20 {
  background-color: #0a66c233;
  background-color: lab(42.5561% 3.77452 -55.9166 / .2);
}

.bg-\[\#0A1022\] {
  background-color: #0a1022;
}

.bg-\[\#0A1126\] {
  background-color: #0a1126;
}

.bg-\[\#0B1024\] {
  background-color: #0b1024;
}

.bg-\[\#0D1324\]\/90 {
  background-color: #0d1324e6;
  background-color: lab(5.99188% 1.57814 -12.5873 / .9);
}

.bg-\[\#0D1328\] {
  background-color: #0d1328;
}

.bg-\[\#0D1328\]\/80 {
  background-color: #0d1328cc;
  background-color: lab(6.18776% 2.80032 -15.2984 / .8);
}

.bg-\[\#0F1629\] {
  background-color: #0f1629;
}

.bg-\[\#0f172a\] {
  background-color: #0f172a;
}

.bg-\[\#0f172a\]\/50 {
  background-color: #0f172a80;
  background-color: lab(7.77627% 1.58887 -14.2961 / .5);
}

.bg-\[\#0f172a\]\/70 {
  background-color: #0f172ab3;
  background-color: lab(7.77627% 1.58887 -14.2961 / .7);
}

.bg-\[\#1DA1F2\]\/20 {
  background-color: #1da1f233;
  background-color: lab(62.681% -12.1707 -50.8237 / .2);
}

.bg-\[\#1e293b\] {
  background-color: #1e293b;
}

.bg-\[\#1e293b\]\/50 {
  background-color: #1e293b80;
  background-color: lab(16.2235% -.475004 -13.2263 / .5);
}

.bg-\[\#1e293b\]\/70 {
  background-color: #1e293bb3;
  background-color: lab(16.2235% -.475004 -13.2263 / .7);
}

.bg-\[\#3B82F6\] {
  background-color: #3b82f6;
}

.bg-\[\#3B82F6\]\/20 {
  background-color: #3b82f633;
  background-color: lab(54.6189% 8.76278 -65.7907 / .2);
}

.bg-\[\#35BFFF\] {
  background-color: #35bfff;
}

.bg-\[\#35BFFF\]\/15 {
  background-color: #35bfff26;
  background-color: lab(72.3644% -21.0997 -42.6832 / .15);
}

.bg-\[\#040b1a\] {
  background-color: #040b1a;
}

.bg-\[\#050A12\]\/70 {
  background-color: #050a12b3;
  background-color: lab(2.60175% -.327729 -4.26341 / .7);
}

.bg-\[\#070C1A\] {
  background-color: #070c1a;
}

.bg-\[\#070D1C\] {
  background-color: #070d1c;
}

.bg-\[\#080E1B\] {
  background-color: #080e1b;
}

.bg-\[\#090a10\] {
  background-color: #090a10;
}

.bg-\[\#101a2a\] {
  background-color: #101a2a;
}

.bg-\[\#101a2a\]\/90 {
  background-color: #101a2ae6;
  background-color: lab(8.95951% -.206724 -12.4421 / .9);
}

.bg-\[\#141A30\] {
  background-color: #141a30;
}

.bg-\[\#181a23\] {
  background-color: #181a23;
}

.bg-\[\#1778F2\]\/20 {
  background-color: #1778f233;
  background-color: lab(50.7314% 9.8618 -69.8879 / .2);
}

.bg-\[\#04081a\] {
  background-color: #04081a;
}

.bg-\[\#09101a\] {
  background-color: #09101a;
}

.bg-\[\#10131e\] {
  background-color: #10131e;
}

.bg-\[\#020617\] {
  background-color: #020617;
}

.bg-\[\#030616\] {
  background-color: #030616;
}

.bg-\[\#030712\] {
  background-color: #030712;
}

.bg-\[\#061018\] {
  background-color: #061018;
}

.bg-\[\#071022\] {
  background-color: #071022;
}

.bg-\[\#071124\] {
  background-color: #071124;
}

.bg-\[\#071329\] {
  background-color: #071329;
}

.bg-\[\#101735\] {
  background-color: #101735;
}

.bg-\[\#111827\] {
  background-color: #111827;
}

.bg-\[rgba\(53\,191\,255\,0\.5\)\] {
  background-color: #35bfff80;
}

.bg-\[rgba\(53\,191\,255\,0\.10\)\] {
  background-color: #35bfff1a;
}

.bg-\[rgba\(53\,191\,255\,0\.12\)\] {
  background-color: #35bfff1f;
}

.bg-\[rgba\(53\,191\,255\,0\.15\)\] {
  background-color: #35bfff26;
}

.bg-\[rgba\(255\,255\,255\,0\.03\)\] {
  background-color: #ffffff08;
}

.bg-transparent {
  background-color: #0000;
}

.bg-gradient-to-b {
  --tw-gradient-position: to bottom in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-br {
  --tw-gradient-position: to bottom right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  --tw-gradient-position: to right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-t {
  --tw-gradient-position: to top in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-tr {
  --tw-gradient-position: to top right in oklab;
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-\[linear-gradient\(135deg\,\#35BFFF\,\#35BFFF\)\] {
  background-image: linear-gradient(135deg, #35bfff, #35bfff);
}

.bg-\[radial-gradient\(circle_at_top\,rgba\(53\,191\,255\,0\.18\)\,rgba\(15\,23\,42\,1\)\)\] {
  background-image: radial-gradient(circle at top, #35bfff2e, #0f172a);
}

.from-\[\#2563eb\] {
  --tw-gradient-from: #2563eb;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#06101a\] {
  --tw-gradient-from: #06101a;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#021124\] {
  --tw-gradient-from: #021124;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#030712\] {
  --tw-gradient-from: #030712;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[\#061026\] {
  --tw-gradient-from: #061026;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-\[rgba\(53\,191\,255\,0\.02\)\] {
  --tw-gradient-from: #35bfff05;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.from-transparent {
  --tw-gradient-from: transparent;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.via-\[\#35BFFF\] {
  --tw-gradient-via: #35bfff;
  --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.via-\[\#040816\] {
  --tw-gradient-via: #040816;
  --tw-gradient-via-stops: var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-via-stops);
}

.to-\[\#38bdf8\] {
  --tw-gradient-to: #38bdf8;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#00121a\] {
  --tw-gradient-to: #00121a;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#001022\] {
  --tw-gradient-to: #001022;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#02020a\] {
  --tw-gradient-to: #02020a;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[\#050618\] {
  --tw-gradient-to: #050618;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-\[rgba\(53\,191\,255\,0\.02\)\] {
  --tw-gradient-to: #35bfff05;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.to-transparent {
  --tw-gradient-to: transparent;
  --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.fill-current {
  fill: currentColor;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-center {
  -o-object-position: center;
  object-position: center;
}

.pt-\[72px\] {
  padding-top: 72px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-\[0\.6rem\] {
  font-size: .6rem;
}

.text-\[0\.7rem\] {
  font-size: .7rem;
}

.text-\[0\.8rem\] {
  font-size: .8rem;
}

.text-\[0\.63rem\] {
  font-size: .63rem;
}

.text-\[0\.65rem\] {
  font-size: .65rem;
}

.text-\[0\.68rem\] {
  font-size: .68rem;
}

.text-\[0\.75rem\] {
  font-size: .75rem;
}

.text-\[6rem\] {
  font-size: 6rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[18vw\] {
  font-size: 18vw;
}

.leading-none {
  --tw-leading: 1;
  line-height: 1;
}

.tracking-\[0\.2em\] {
  --tw-tracking: .2em;
  letter-spacing: .2em;
}

.tracking-\[0\.22em\] {
  --tw-tracking: .22em;
  letter-spacing: .22em;
}

.tracking-\[0\.25em\] {
  --tw-tracking: .25em;
  letter-spacing: .25em;
}

.break-all {
  word-break: break-all;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.text-\[\#0A66C2\] {
  color: #0a66c2;
}

.text-\[\#1DA1F2\] {
  color: #1da1f2;
}

.text-\[\#3B82F6\] {
  color: #3b82f6;
}

.text-\[\#35BFFF\] {
  color: #35bfff;
}

.text-\[\#93C5FD\] {
  color: #93c5fd;
}

.text-\[\#1778F2\] {
  color: #1778f2;
}

.text-\[\#06121f\] {
  color: #06121f;
}

.text-transparent {
  color: #0000;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
}

.decoration-transparent {
  text-decoration-color: #0000;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: .1;
}

.opacity-15 {
  opacity: .15;
}

.opacity-20 {
  opacity: .2;
}

.opacity-25 {
  opacity: .25;
}

.opacity-30 {
  opacity: .3;
}

.opacity-40 {
  opacity: .4;
}

.opacity-50 {
  opacity: .5;
}

.opacity-60 {
  opacity: .6;
}

.opacity-70 {
  opacity: .7;
}

.opacity-75 {
  opacity: .75;
}

.opacity-100 {
  opacity: 1;
}

.opacity-\[0\.05\] {
  opacity: .05;
}

.shadow-\[0_0_0_1px_rgba\(8\,145\,178\,0\.05\)\] {
  --tw-shadow: 0 0 0 1px var(--tw-shadow-color, #0891b20d);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_0_1px_rgba\(59\,130\,246\,0\.08\)\] {
  --tw-shadow: 0 0 0 1px var(--tw-shadow-color, #3b82f614);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_6px_rgba\(0\,255\,100\,0\.9\)\] {
  --tw-shadow: 0 0 6px var(--tw-shadow-color, #00ff64e6);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_8px_rgba\(74\,222\,128\,0\.8\)\] {
  --tw-shadow: 0 0 8px var(--tw-shadow-color, #4ade80cc);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_10px_rgba\(52\,211\,153\,0\.9\)\] {
  --tw-shadow: 0 0 10px var(--tw-shadow-color, #34d399e6);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_25px_rgba\(53\,191\,255\,0\.8\)\] {
  --tw-shadow: 0 0 25px var(--tw-shadow-color, #35bfffcc);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_0_35px_rgba\(53\,191\,255\,0\.15\)\] {
  --tw-shadow: 0 0 35px var(--tw-shadow-color, #35bfff26);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_25px_50px_-12px_rgba\(0\,0\,0\,0\.5\)\] {
  --tw-shadow: 0 25px 50px -12px var(--tw-shadow-color, #00000080);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[0_26px_80px_rgba\(15\,23\,42\,1\)\] {
  --tw-shadow: 0 26px 80px var(--tw-shadow-color, #0f172a);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.ring, .ring-1 {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.ring-2 {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.ring-4 {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.shadow-\[\#3B82F6\]\/30 {
  --tw-shadow-color: #3b82f64d;
}

@supports (color: color-mix(in lab, red, red)) {
  .shadow-\[\#3B82F6\]\/30 {
    --tw-shadow-color: color-mix(in oklab, lab(54.6189% 8.76278 -65.7907 / .3) var(--tw-shadow-alpha), transparent);
  }
}

.shadow-\[\#3B82F6\]\/40 {
  --tw-shadow-color: #3b82f666;
}

@supports (color: color-mix(in lab, red, red)) {
  .shadow-\[\#3B82F6\]\/40 {
    --tw-shadow-color: color-mix(in oklab, lab(54.6189% 8.76278 -65.7907 / .4) var(--tw-shadow-alpha), transparent);
  }
}

.shadow-\[\#3B82F6\]\/50 {
  --tw-shadow-color: #3b82f680;
}

@supports (color: color-mix(in lab, red, red)) {
  .shadow-\[\#3B82F6\]\/50 {
    --tw-shadow-color: color-mix(in oklab, lab(54.6189% 8.76278 -65.7907 / .5) var(--tw-shadow-alpha), transparent);
  }
}

.ring-\[\#0A1022\] {
  --tw-ring-color: #0a1022;
}

.ring-\[\#3B82F6\] {
  --tw-ring-color: #3b82f6;
}

.ring-offset-2 {
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
}

.ring-offset-\[\#070D1C\] {
  --tw-ring-offset-color: #070d1c;
}

.blur-\[80px\] {
  --tw-blur: blur(80px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[90px\] {
  --tw-blur: blur(90px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[100px\] {
  --tw-blur: blur(100px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[110px\] {
  --tw-blur: blur(110px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[120px\] {
  --tw-blur: blur(120px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[140px\] {
  --tw-blur: blur(140px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[150px\] {
  --tw-blur: blur(150px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[160px\] {
  --tw-blur: blur(160px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.blur-\[170px\] {
  --tw-blur: blur(170px);
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.filter {
  filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
  backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-all {
  transition-property: all;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.transition-transform {
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(--tw-ease, ease);
  transition-duration: var(--tw-duration, 0s);
}

.duration-150 {
  --tw-duration: .15s;
  transition-duration: .15s;
}

.duration-200 {
  --tw-duration: .2s;
  transition-duration: .2s;
}

.duration-300 {
  --tw-duration: .3s;
  transition-duration: .3s;
}

.duration-500 {
  --tw-duration: .5s;
  transition-duration: .5s;
}

.duration-700 {
  --tw-duration: .7s;
  transition-duration: .7s;
}

.duration-1000 {
  --tw-duration: 1s;
  transition-duration: 1s;
}

.ease-\[cubic-bezier\(\.2\,\.9\,\.3\,1\)\] {
  --tw-ease: cubic-bezier(.2, .9, .3, 1);
  transition-timing-function: cubic-bezier(.2, .9, .3, 1);
}

.outline-none {
  --tw-outline-style: none;
  outline-style: none;
}

.select-none {
  -webkit-user-select: none;
  user-select: none;
}

.group-open\:rotate-180:is(:where(.group):is([open], :popover-open, :open) *) {
  rotate: 180deg;
}

@media (hover: hover) {
  .group-hover\:scale-105:is(:where(.group):hover *) {
    --tw-scale-x: 105%;
    --tw-scale-y: 105%;
    --tw-scale-z: 105%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }
}

@media (hover: hover) {
  .group-hover\:scale-\[1\.02\]:is(:where(.group):hover *) {
    scale: 1.02;
  }
}

@media (hover: hover) {
  .group-hover\:text-\[\#35BFFF\]:is(:where(.group):hover *) {
    color: #35bfff;
  }
}

@media (hover: hover) {
  .group-hover\:text-\[\#93C5FD\]:is(:where(.group):hover *) {
    color: #93c5fd;
  }
}

@media (hover: hover) {
  .group-hover\:opacity-70:is(:where(.group):hover *) {
    opacity: .7;
  }
}

@media (hover: hover) {
  .group-hover\:opacity-100:is(:where(.group):hover *) {
    opacity: 1;
  }
}

@media (hover: hover) {
  .hover\:-translate-y-\[4px\]:hover {
    --tw-translate-y: calc(4px * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
}

@media (hover: hover) {
  .hover\:scale-\[1\.01\]:hover {
    scale: 1.01;
  }
}

@media (hover: hover) {
  .hover\:scale-\[1\.03\]:hover {
    scale: 1.03;
  }
}

@media (hover: hover) {
  .hover\:border-\[\#3B82F6\]\/50:hover {
    border-color: #3b82f680;
    border-color: lab(54.6189% 8.76278 -65.7907 / .5);
  }
}

@media (hover: hover) {
  .hover\:border-\[\#35BFFF\]:hover {
    border-color: #35bfff;
  }
}

@media (hover: hover) {
  .hover\:border-\[\#35BFFF\]\/50:hover {
    border-color: #35bfff80;
    border-color: lab(72.3644% -21.0997 -42.6832 / .5);
  }
}

@media (hover: hover) {
  .hover\:border-\[\#35BFFF\]\/70:hover {
    border-color: #35bfffb3;
    border-color: lab(72.3644% -21.0998 -42.6832 / .7);
  }
}

@media (hover: hover) {
  .hover\:border-\[rgba\(53\,191\,255\,0\.28\)\]:hover {
    border-color: #35bfff47;
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#0A66C2\]\/30:hover {
    background-color: #0a66c24d;
    background-color: lab(42.5561% 3.77452 -55.9166 / .3);
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#0B1024\]:hover {
    background-color: #0b1024;
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#0B1024\]\/80:hover {
    background-color: #0b1024cc;
    background-color: lab(4.99396% 2.61624 -14.1316 / .8);
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#1DA1F2\]\/30:hover {
    background-color: #1da1f24d;
    background-color: lab(62.681% -12.1707 -50.8237 / .3);
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#2fb2ff\]:hover {
    background-color: #2fb2ff;
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#151C30\]:hover {
    background-color: #151c30;
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#1778F2\]\/30:hover {
    background-color: #1778f24d;
    background-color: lab(50.7314% 9.8618 -69.8879 / .3);
  }
}

@media (hover: hover) {
  .hover\:bg-\[\#112233\]:hover {
    background-color: #123;
  }
}

@media (hover: hover) {
  .hover\:bg-\[rgba\(53\,191\,255\,0\.1\)\]:hover {
    background-color: #35bfff1a;
  }
}

@media (hover: hover) {
  .hover\:bg-\[rgba\(53\,191\,255\,0\.08\)\]:hover {
    background-color: #35bfff14;
  }
}

@media (hover: hover) {
  .hover\:bg-\[rgba\(53\,191\,255\,0\.18\)\]:hover {
    background-color: #35bfff2e;
  }
}

@media (hover: hover) {
  .hover\:from-\[\#1e40af\]:hover {
    --tw-gradient-from: #1e40af;
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  }
}

@media (hover: hover) {
  .hover\:to-\[\#0ea5e9\]:hover {
    --tw-gradient-to: #0ea5e9;
    --tw-gradient-stops: var(--tw-gradient-via-stops, var(--tw-gradient-position), var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position));
  }
}

@media (hover: hover) {
  .hover\:text-\[\#2fb2ff\]:hover {
    color: #2fb2ff;
  }
}

@media (hover: hover) {
  .hover\:text-\[\#3B82F6\]:hover {
    color: #3b82f6;
  }
}

@media (hover: hover) {
  .hover\:text-\[\#35BFFF\]:hover {
    color: #35bfff;
  }
}

@media (hover: hover) {
  .hover\:text-\[\#93C5FD\]:hover {
    color: #93c5fd;
  }
}

@media (hover: hover) {
  .hover\:underline:hover {
    text-decoration-line: underline;
  }
}

@media (hover: hover) {
  .hover\:decoration-inherit:hover {
    -webkit-text-decoration-color: inherit;
    text-decoration-color: inherit;
  }
}

@media (hover: hover) {
  .hover\:opacity-100:hover {
    opacity: 1;
  }
}

@media (hover: hover) {
  .hover\:shadow-\[0_0_12px_\#35BFFF\]:hover {
    --tw-shadow: 0 0 12px var(--tw-shadow-color, #35bfff);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

@media (hover: hover) {
  .hover\:shadow-\[0_20px_40px_rgba\(53\,191\,255\,0\.06\)\]:hover {
    --tw-shadow: 0 20px 40px var(--tw-shadow-color, #35bfff0f);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

@media (hover: hover) {
  .hover\:shadow-\[0_24px_40px_rgba\(53\,191\,255\,0\.06\)\]:hover {
    --tw-shadow: 0 24px 40px var(--tw-shadow-color, #35bfff0f);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}

@media (hover: hover) {
  .hover\:ring-\[\#3B82F6\]:hover {
    --tw-ring-color: #3b82f6;
  }
}

.focus\:ring:focus {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus\:ring-2:focus {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus\:ring-4:focus {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.focus\:ring-\[\#35BFFF\]:focus {
  --tw-ring-color: #35bfff;
}

.focus\:ring-\[var\(--brand\)\]:focus {
  --tw-ring-color: var(--brand);
}

.focus\:outline-none:focus {
  --tw-outline-style: none;
  outline-style: none;
}

.active\:scale-\[0\.99\]:active {
  scale: .99;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:opacity-50:disabled {
  opacity: .5;
}

.disabled\:opacity-60:disabled {
  opacity: .6;
}

:root {
  --lightningcss-light: ;
  --lightningcss-dark: initial;
  color-scheme: dark;
}

html, body {
  height: 100%;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-pan-x {
  syntax: "*";
  inherits: false
}

@property --tw-pan-y {
  syntax: "*";
  inherits: false
}

@property --tw-pinch-zoom {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-gradient-position {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-via {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-to {
  syntax: "<color>";
  inherits: false;
  initial-value: #0000;
}

@property --tw-gradient-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-via-stops {
  syntax: "*";
  inherits: false
}

@property --tw-gradient-from-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --tw-gradient-via-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --tw-gradient-to-position {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-blur {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-invert {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-backdrop-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

/*# sourceMappingURL=src_app_globals_91e4631d.css.map*/